<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudo flask 1</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
</head>
<body>
    <div class="container bg-dark">
        <div class="row bg-primary">
            <div class="col-md-1 bg-secundary">col-1</div>
            <div class="col-3 bg-info">col-3</div>
            <div class="col-6 bg-warning">col-6</div>
            <div class="col-12 bg-danger">col-12</div>
            
        </div>
        <div class="row text-white">
            row
        </div>
    </div>
    <div class="container mt-2 border">
        <div class="row justify-content-between p-1">
            <a href=""class="btn btn-primary col-md-2">link 1</a>
            <a href="" class="btn btn-secondary col-md-2">link 2</a>
            <a href="" class="btn btn-danger col-md-2">link 3</a>
            <a href="" class="btn btn-info col-md-2">link 4</a>
        </div>
    </div>
    <div class="container mt-2 border rounded shadow">
        <div class="row">
            <table class="table table-striped table-hover table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th class="text-center">id</th>
                        <th class="text-center">nome</th>
                        <th class="text-center">Idade</th>
                        <th class="text-center">Sexo</th>
                        <th class="text-center">Estado Civil</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Lucas</td>
                        <td>31</td>
                        <td>Masculino</td>
                        <td>Solteiro</td>
                        
                    </tr>
                    <tr><!--Cada tr é uma linha, e cada td o conteudo da linha-->
                        <td>2</td>
                        <td>Monalisa</td>
                        <td>38</td>
                        <td>Feminino</td>
                        <td>Casada</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Danilo</td>
                        <td>42</td>
                        <td>Masculino</td>
                        <td>Casado</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>



    <div>
        <h3>Isso é um estudo flask</h3>
        
    </div>
    <div>
        <p>Vamos de aula de Flask {{context.usuario}}</p><br>
        <p>Idade: {{context.idade}}</p>
        <p>mentira</p>
        <p>vamo mudar todos os roles</p><br>
        <a href="{{url_for('cadastro')}}"> Cadastro </a>
<!--Aqui colocamos a funcao de Flask em python chamada "url_for" ela chama a funcao na views com o nome da funcao mudando o nome apenas..
do link (/contato)-->

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>
</html>