<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudo flask 1</title>
</head>
<body>
    <div>
        <h3>Isso é um estudo flask</h3>
        
    </div>
    <div>
        <p>Vamos de aula de Flask {{context.usuario}}</p><br>
        <p>Idade: {{context.idade}}</p>
        <p>mentira</p>
        <p>vamo mudar todos os roles</p><br>
        <a href="{{url_for('cadastro')}}"> Cadastro </a>
<!--Aqui colocamos a funcao de Flask em python chamada "url_for" ela chama a funcao na views com o nome da funcao mudando o nome apenas..
do link (/contato)-->

    </div>
</body>
</html>